package ${package.Controller};

import lombok.extern.slf4j.Slf4j;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import com.suhuamo.web.component.controller.WebController;
import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};
import ${package.Entity}.dto.${entity}DTO;

/**
 *
 * @author ${author}
 * @slogan 想和喜欢的人睡在冬日的暖阳里
 * @date ${date}
 * 该控制层类对应的 pojo 类型对应的 service 接口已注入 WebController ，名称为 baseService
 */
@Slf4j
@RestController
@RequestMapping("/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
public class ${table.controllerName} extends WebController<${entity}, ${entity}DTO, ${entity}Service> {

    /**
     *  向 WebController 注入所需的service接口
     * @param ${table.entityPath}Service
     * @return null
     */
    @Autowired
    public ${table.controllerName}(${entity}Service ${table.entityPath}Service) {
        setBaseService(${table.entityPath}Service);
    }


}
